.ui.topmenu.menu {
  background-color: black;
  margin: 0px;
  border: none;

}

.menu.right.item{
  color: #ccc;
}

.footer {
  background-color: #f96d21;
  padding: 30px;
}

.centered.item {
  font-size: 25px;
  color: #ccc;
}